ư/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.header i {
    font-size: 24px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline;
    margin-right: 20px;
}

.header nav ul li:last-child {
    margin-right: 0;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Container styles */
.container {
    display: flex;
}

/* Sidebar styles */
.sidebar {
    width: 350px;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
    font-size: 20px;
    height: 2000px;

}

.sidebar nav ul li {
    padding: 15px;
    list-style: none;
    border-bottom: 1px solid #333;
}

.sidebar nav ul li a {
    color: #333;
    text-decoration: none;
}

.sidebar nav ul li.active a {
    background-color: #4CAF50; /* Màu nền của thẻ li khi được chọn */
}

.sidebar nav ul li a:hover {
    background-color: #2E8B57; /* Màu nền của thẻ li khi hover */
}
/* Main content styles */
.main-content {
    flex-grow: 1;
    padding: 20px;
}ư