* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F0F0F0;
    color: #000;
}

.container {
    display: flex;
    width: 90%;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tasks {
    width: 70%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #DDD;
}

.task-header {
    padding: 15.5px;
    border-bottom: 1px solid #DDD;
    background-color: #F7F7F7;
}

.task-list {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.task {
    padding: 15px;
    background-color: #F9F9F9;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #E0E0E0;
}

    .task:hover {
        background-color: #E0E0E0;
    }

.chat {
    width: 30%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    padding: 20px;
    border-bottom: 1px solid #DDD;
    background-color: #F7F7F7;
}

.chat-messages {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
    color: #007BFF;
}

.message-content {
    margin-left: 5px;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #DDD;
    background-color: #F7F7F7;
}

    .chat-input input {
        flex-grow: 1;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #DDD;
        outline: none;
        background-color: #FFF;
        color: #000;
        margin-right: 10px;
    }

    .chat-input button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007BFF;
        color: #FFF;
        cursor: pointer;
        outline: none;
    }

        .chat-input button:hover {
            background-color: #0056b3;
        }
