/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
}
.sidebar {
    width: 350px;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
    font-size: 20px;
    height: auto;
    min-height: 700px;
    padding-top: 38px;
}

.sidebar nav ul li {
    padding: 15px;
    list-style: none;
    border-bottom: 1px solid #333;
}

.sidebar nav ul li a {
    color: #333;
    text-decoration: none;
}

.sidebar nav ul li.active a {
    background-color: #4CAF50; /* Màu nền của thẻ li khi được chọn */
}

.sidebar nav ul li a:hover {
    background-color: #2E8B57; /* Màu nền của thẻ li khi hover */
}