@using EventManagement.DTO
@model LoginDTO
@{
    ViewData["Title"] = "Login";
}
<form id="loginForm">
    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="email" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

    <script>
    $(document).ready(function () {
        $('#loginForm').submit(function (event) {
            event.preventDefault();

            var formData = {
                email: $('#Email').val(),
                password: $('#Password').val()
            };

            $.ajax({
                type: 'POST',
                url: '/api/authenticate/login',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (data) {
                    /*console.log('Login Successful:', data);*/
                    localStorage.setItem('accessToken', data.accessToken);
                    window.location.href = '/home/index'
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    // Handle error
                }
            });
        });
    });
    </script>



