@using EventManagement.DTO
@model LoginDTO
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../wwwroot/css/logreg-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="cover">
            <div class="image">
                <img src="../wwwroot/images/frieren1.jpg" alt="">
                <div class="text">
                    <span class="text-1">Every new friend is a <br> new adventure</span>ưư
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title"><h2>Login</h2></div>
                    <form id="loginForm" action="#">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input id="Email" type="text" placeholder="Email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input id="Password" type="password" placeholder="Password" required>
                            </div>
                            <div class="text" style="font-size: medium;"><a href="#">Forgot password?</a></div>
                            <div class="button input-box">
                                <input type="submit" value="Enter">
                            </div>
                            <div class="text sign-up-text" style="font-size: medium;">Don't have an account? <a href="Register.html">Sign up now.</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

    <script>
        $(document).ready(function () {
            $('#loginForm').submit(function (event) {
                event.preventDefault();

                var formData = {
                    email: $('#Email').val(),
                    password: $('#Password').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/authenticate/login',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (data) {
                        /*console.log('Login Successful:', data);*/
                        localStorage.setItem('accessToken', data.accessToken);
                        // Handle successful login
                    $.ajaxSetup({
                        headers: {
                            'Authorization': 'Bearer ' + data.accessToken
                        }
                    });
                        console.log("Login Successfully");
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                        // Handle error
                    }
                });
            });
        });
    </script>



