@using EventManagement.DTO
@model LoginDTO
@{
    ViewData["Title"] = "Login";
}

    <h2>Login</h2>
    <form id="loginForm">
        <div>
            <label>Email:</label>
            <input type="email" asp-for="Email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" asp-for="Password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit">Login</button>
    </form>

    <script>
        $(document).ready(function () {
            $('#loginForm').submit(function (event) {
                event.preventDefault();

                var formData = {
                    email: $('#Email').val(),
                    password: $('#Password').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/authenticate/login',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (data) {
                        /*console.log('Login Successful:', data);*/
                        localStorage.setItem('accessToken', data.accessToken);
                        // Handle successful login
                    $.ajaxSetup({
                        headers: {
                            'Authorization': 'Bearer ' + data.accessToken
                        }
                    });
                        console.log("Login Successfully");
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                        // Handle error
                    }
                });
            });
        });
    </script>



